:root {
    --primario: rgb(196, 226, 99);
    --primarioOscuro: rgb(122, 148, 36);
    --secundario: rgb(185, 139, 0);
    --secundarioOscuro: ;
    --gris: #cdd0d3;
    --blanco: #fff;
    --negro: #000;
}

body {
    border: var(--gris) solid;
    border-width: 12px 12px 12px 12px;
    background-color: var(--blanco);
    border-radius: 20px;
    margin: 0;
    /* padding: 0 0 120px 0; */
}


/* .bordeRadius {
    background-color: var(--negro);
    border-radius: 20px;
} */


/*global*/

.format {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/*header*/

.title {
    text-align: center;
    color: var(--primarioOscuro);
    font-weight: lighter;
    letter-spacing: 3.5px;
    margin: 0 auto;
}

.title__text-brown {
    color: var(--secundario);
}


/*images*/

.images {
    /* padding-top: 0; */
    width: 97%;
}


/*navegacion*/

.navigation {
    padding-right: 20px;
}

.navigation__link {
    background: linear-gradient(to bottom, var(--blanco), var(--primario));
    /* background-color: var(--primario); */
    color: var(--negro);
    display: flex;
    justify-content: center;
    padding: 5px 30px;
    margin: 5px 15px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation__link--active,
.navigation__link:hover {
    background: linear-gradient(to bottom, var(--blanco), var(--secundario));
    /* background-color: var(--secundario); */
}


/*contenido*/

.content {
    padding: 0 20px;
    margin: 0 30px 10px 10px;
    border: 2px var(--gris) solid;
    background: linear-gradient(0deg, var(--gris) 0%, var(--blanco) 40%, var(--gris) 100%);
}

.content__title {
    margin-right: 10px;
    border-bottom: 1px var(--gris) solid;
    padding-bottom: 2px;
    color: var(--primario);
}

.content__title--animals {
    color: var(--secundario);
}


/*footer*/

footer {
    text-align: center;
    /* margin-left: ; */
}

footer p {
    font-size: 18px;
    font-style: italic;
    color: var(--gris);
}

.underline {
    text-decoration: underline;
}